/* Theme 1 */
.theme1 {
    background-image:url('../images/dark1.png');
    background-repeat:repeat;
    font-family:monospace;
}
.theme1 .page {
    color:rgba(255,255,255,0.55);
}
.theme1 .btn {
    color:rgba(255,255,255,0.4);
    background-color:rgba(255,255,255,0.05);
}
.theme1 .title-large {
}
.theme1 .title-medium {
}
.theme1 .btn:hover {
    background-color:rgba(255,255,255,0.15);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform:scale(1.15);
}
.theme1 .option-choice {
    color:rgba(255,255,255,0.4);
    background-color:rgba(255,255,255,0.05);
}
.theme1 .option-choice:hover {
    background-color:rgba(255,255,255,0.15);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform:scale(1.15);
}
.theme1 .option-choice-selected {
    background-color:rgba(255,255,255,0.15);
}
.theme1 .option-input {
    background-color:rgba(255,255,255,0.05);
}
.theme1 .option-inputbox {
    background-color:rgba(255,255,255,0);
    color:rgba(255,255,255,0.4);
    border:none;            
}

/* Theme 2 */
.theme2 {
    background-image:url('../images/dark2.png');
    background-repeat:repeat;
    font-family:monospace;
}
.theme2 .page {
    color:rgba(205,220,57,0.9);
}
.theme2 .btn {
    color:rgba(205,220,57,0.7);
    background-color:rgba(205,220,57,0.03);
}
.theme2 .title-large {
}
.theme2 .title-medium {
}
.theme2 .btn:hover {
    background-color:rgba(205,220,57,0.08);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform:scale(1.15);
}
.theme2 .option-choice {
    color:rgba(205,220,57,0.7);
    background-color:rgba(205,220,57,0.03);
}
.theme2 .option-choice:hover {
    background-color:rgba(205,220,57,0.08);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform:scale(1.15);
}
.theme2 .option-choice-selected {
    background-color:rgba(205,220,57,0.08);
}
.theme2 .option-input {
    background-color:rgba(205,220,57,0.03);
}
.theme2 .option-inputbox {
    background-color:rgba(255,255,255,0);
    color:rgba(205,220,57,0.7);
    border:none;            
}

/* Theme 3 */
.theme3 {
    background-image:url('../images/color1.png');
    background-repeat:repeat;
    font-family:monospace;
}
.theme3 .page {
    color:rgba(244,87,34,0.7);
}
.theme3 .btn {
    color:rgba(244,87,34,.6);
    background-color:rgba(244,87,34,0.04);
}
.theme3 .title-large {
}
.theme3 .title-medium {
}
.theme3 .btn:hover {
    background-color:rgba(244,87,34,0.13);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform:scale(1.15);
}
.theme3 .option-choice {
    color:rgba(244,87,34,.6);
    background-color:rgba(244,87,34,0.04);
}
.theme3 .option-choice:hover {
    background-color:rgba(244,87,34,0.13);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform:scale(1.15);
}
.theme3 .option-choice-selected {
    background-color:rgba(244,87,34,0.13);
}
.theme3 .option-input {
    background-color:rgba(244,87,34,0.04);
}
.theme3 .option-inputbox {
    background-color:rgba(255,255,255,0);
    color:rgba(244,87,34,.6);
    border:none;            
}

/* Theme 4 */
.theme4 {
    background-image:url('../images/light1.png');
    background-repeat:repeat;
    font-family:monospace;
}
.theme4 .page {
    color:rgba(79,55,48,0.5);
}
.theme4 .btn {
    color:rgba(79,55,48,0.4);
    background-color:rgba(79,55,48,0.05);
}
.theme4 .title-large {
}
.theme4 .title-medium {
}
.theme4 .btn:hover {
    background-color:rgba(79,55,48,0.15);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform:scale(1.15);
}
.theme4 .option-choice {
    color:rgba(79,55,48,0.4);
    background-color:rgba(79,55,48,0.05);
}
.theme4 .option-choice:hover {
    background-color:rgba(79,55,48,0.15);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform:scale(1.15);
}
.theme4 .option-choice-selected {
    background-color:rgba(79,55,48,0.15);
}
.theme4 .option-input {
    background-color:rgba(79,55,48,0.05);
}
.theme4 .option-inputbox {
    background-color:rgba(255,255,255,0);
    color:rgba(79,55,48,0.4);
    border:none;            
}