<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tetris v2.0</title>
</head>
<body class="theme1">
    <div id="menu" class="page show">
        <div class="page-title title-large"><div class="text">Tetris</div></div>
        <div class="page-body">
            <div class="btn"><div class="text">New Game</div></div>
            <div class="btn"><div class="text">Resume Game</div></div>
            <div class="btn"><div class="text">Options</div></div>
            <div class="btn"><div class="text">High Scores</div></div>
            <div class="btn"><div class="text">Credits</div></div>
        </div>
        
    </div>
    <div id="game" class="page">
        <div class="page-navbar">
            <span>score:</span>
            <span id="score"></span>
            <span>lines:</span>
            <span id="lines"></span>
            <span>level:</span>
            <span id="level"></span>
        </div>
        <canvas id="active" class="board"></canvas>
        <canvas id="static" class="board"></canvas>
        <canvas id="board" class="board"></canvas>
        <canvas id="next" class="next"></canvas>
        <canvas id="next-grid" class="next"></canvas>
        <div class="page-footer">Goodbyez</div>
    </div>
    <div id="options" class="page">
        <div class="page-title title-medium"><div class="text">Options</div></div> 
            <div class="page-body">
                <table class="options-list">
                    <tr class="option">
                        <td class="option-title">Theme</td>
                        <td class="option-choice">1</td>
                        <td class="option-choice">2</td>
                        <td class="option-choice">3</td>
                        <td class="option-choice">4</td>
                    </tr>
                    <tr class="option">
                        <td class="option-title">Level (0-29)</td>
                        <td class="option-input" colspan="4">    
                            <input class="option-inputbox" type="text" maxlength="2">
                        </td>
                    </tr>
                    <tr class="option">
                        <td class="option-title">Music</td>
                        <td class="option-choice" colspan="2">Off</td>
                        <td class="option-choice" colspan="2">On</td>
                    </tr>
                </table>
            </div>
    </div>
    <div id="high-scores" class="page">
        <div class="page-title title-medium"><div class="text">High Scores</div></div> 
    </div>
    <div id="credits" class="page">
        <div class="page-title title-medium"><div class="text">Credits</div></div> 
    </div>
    <div id="paused" class="page">        
        <div class="page-title title-medium"><div class="text">Paused!</div></div>        
        <div class="page-body">
            <div class="btn"><div class="text">Resume</div></div>
            <div class="btn"><div class="text">Options</div></div>
            <div class="btn"><div class="text">Quit</div></div>       
        </div>
    </div>
</body>
</html>